@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600");

.main-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.select-container select {
  padding: 0.5rem 1rem;
  color: #6f42c1;
  font-size: 1.3rem;
  margin-right: 3rem;
  font-weight: bold;
  border: none;
  outline: none;
}

.select-container option {
  background-color: "white";
  color: #6f42c1;
}

.navbar-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: center;
}

.navbar {
  width: 50%;
}

.navbar ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar ul li {
  list-style: none;
  color: white;
  margin-left: 1.5rem;
  font-size: 1.1em;
  cursor: pointer;
  font-weight: 400;
  font-family: "Heebo", sans-serif;
}

.polygon {
  width: 50%;
  height: 100vh;
  background: #6f42c1;
  clip-path: polygon(0 0, 100% 0, 100% 47%, 50% 75%);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.polygon-arabic {
  width: 50%;
  height: 100vh;
  background: #6f42c1;
  clip-path: polygon(0 0, 100% 0, 50% 75%, 0 50%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.logo-image {
  width: 50%;
  height: 50%;
}
.logo-image img {
  width: 40%;
  height: 20%;
  padding: 1rem;
}

@media only screen and (max-width: 1080px) {
  .polygon {
    min-width: 60%;
    height: 100vh;
    background: #6f42c1;
    clip-path: polygon(0 0, 100% 0, 100% 47%, 50% 75%);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .navbar {
    width: 50%;
  }

  .navbar ul li {
    list-style: none;
    color: white;
    font-size: 110%;
    cursor: pointer;
    font-weight: 400;
    font-family: "Heebo", sans-serif;
  }
}

@media only screen and (max-width: 950px) {
  .polygon {
    min-width: 50%;
    height: 100vh;
    background: #6f42c1;
    clip-path: polygon(0 0, 100% 0, 100% 47%, 50% 75%);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .navbar {
    width: 50%;
  }

  .navbar ul li {
    list-style: none;
    color: white;
    font-size: 0.9em;
    cursor: pointer;
    font-weight: 400;
    font-family: "Heebo", sans-serif;
  }
}

@media only screen and (max-width: 800px) {
  .polygon {
    min-width: 50%;
    height: 100vh;
    background: #6f42c1;
    clip-path: polygon(0 0, 100% 0, 100% 47%, 50% 75%);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .navbar {
    width: 50%;
  }

  .navbar ul li {
    list-style: none;
    color: white;
    font-size: 0.8em;
    cursor: pointer;
    font-weight: 400;
    font-family: "Heebo", sans-serif;
  }
}

@media only screen and (max-width: 750px) {
  .polygon {
    display: none;
  }

  .navbar-section {
    height: 0vh;
  }

  .navbar {
    height: 100%;
    background-color: #6f42c1;
    width: 40%;
    position: fixed;
    top: 0;
    right: 0;
  }

  .navbar ul {
    flex-flow: column nowrap;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    padding: 3rem 0;
    background-color: #6f42c1;
    width: 40%;
  }

  .navbar ul li {
    list-style: none;
    color: white;
    font-size: 0.9em;
    display: flex;
    cursor: pointer;
    font-weight: 400;
    font-family: "Heebo", sans-serif;
    margin: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
  }

  .navbar ul li:hover {
    background-color: rgb(204, 204, 204);
    color: #6f42c1;
  }

  .logo-image {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: white;
  }

  .burger-div {
    width: 2rem;
    position: fixed;
    right: 1rem;
    top: 1rem;
    height: 3rem;
    z-index: 2;
    cursor: pointer;
  }

  .burger {
    width: 2rem;
    margin-bottom: 0.5rem;
    border: 1px solid black;
  }

  .off {
    display: none;
  }
}
